html{
   box-sizing: border-box;

   font: normal 100%/1.5 "Oswald", sans-serif;

   }

   *, *::before, *::after {
     box-sizing: inherit;
   }

   body {
     margin: 0;
   }

h1{
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  background-size: .8em auto, .8em auto;
  width: 95%;
  margin: 0 auto;
  color: #512200;
  font-size: 3em;
  text-align: left;
  font-size: 2.5rem;
}

header{
  background-image: url("../images/logo.svg");
  margin:0;
}


h4{
  font-size:1.5rem;
  text-align: center;
  color:#000;
  background-color:#f79f3b;
  }



}

nav {
  display:block;
  margin: 0;
  width: 100%;
}

nav li {
  float: left;
  padding: .5em;
  background-color: rgba(81,34,0,0.5);
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  display: inline;
  width: 25%;
}
nav ul {
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: white;
}
.banner {
  background-image: url("../assets/Maerten_van_Heemskerck_-_Panorama_with_the_Abduction_of_Helen_Amidst_the_Wonders_of_the_Ancient_World_-_Walters_37656.jpg");
}

.banner h2 {
  margin: 0;
  padding-top: 10em;
  color: white;
  padding-bottom: 1em;
  width: 100%;
  text-align: center;
}

main {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
   h3 {
    font-size: 0rem;
    color:#d13049;
    left:5px;
    }

    h3{
      text-align: left;
      font-size:1.85rem;
      color:#000;
    }

img {
     width:100%;
     text-align:center;

}

figure img {
  display: block;
  width: 100%;
}

figure {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  width: 50%;
  float: left;

}

 h2{
  margin:0;
  color:#f79f3b;
  text-align: left;
  font-size:1.8rem;
  margin-right: 12px;
  display:block;
}


 h3{
   text-align: left;
   font-size:1.5rem;
 }


  footer {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;

    font-size: 0.75rem;
    text-align: center;
    background-color: #f79f3b;
  }

  footer a {
    color: #000;
  }
